

.menu{
  -fx-background-color: #b0c4de;
  -fx-padding:0,0,0,0;
  -fx-border-style: solid;
  -fx-border-color: #808080;
  -fx-border-width: 1;
}

.custom-menu-button{
  -fx-padding: 15,15,15,15;
  -fx-font-size: 20;
  -fx-border-style: solid;
  -fx-border-color: #808080;
  -fx-border-width: 1;
}

.taskPane{

}

.task{
    -fx-padding:5;
    -fx-font-size:14;
    -fx-background-color: #b0c4de;
    -fx-vgap:10;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-border-style: solid;
    -fx-border-color: #808080;
    -fx-border-width: 1;
}

.taskDateTime{
    -fx-hgap:10;
}

.temp{
    -fx-background-color:   #FF00FF; 
}